<!-- Standard meta -->
<% if (typeof(title) !== "undefined" && title !== "") { %>
	<% title += " - YouTube - Rolando Islas" %>
<% } else { %>
	<% title = "YouTube - Rolando Islas" %>
<% } %>
<title><%= title %></title>
<% if (typeof(description) == "undefined") description = ""; %>
<meta name="description" content="<%= description %>">
<!-- Schema -->
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebPage",
  "author": {
  	"@type": "Person",
  	"name": "Rolando Islas",
  	"url": "https://www.rolandoislas.com"
  },
  "name": "<%= title %>",
  "description": "<%= description %>",
  "thumbnailUrl": "/img/logo.png"
}
</script>
<!-- Open Graph -->
<meta property="og:site_name" content="Rolando Islas">
<meta property="og:title" content="<%= title %>">
<meta property="og:description" content="<%= description %>">
<!-- CSS/JS -->
<link rel="shortcut icon" href="/favicon.ico">
<link rel="stylesheet" href="/css/style.css" media="screen" type="text/css">
<meta name="viewport" content="width=320" user-scalable="no">
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="/js/global.js"></script>
